.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 6.4rem;
}
.s3 {
  color: var(--primary_100);
}
.pattern1 {
  position: absolute;
  top: 20%;
  right: 0;
}
.pattern2 {
  position: absolute;
  bottom: -50%;
  right: 10%;
  width: 70rem;
  height: 70rem;
}
.icon {
  transform: rotate(90deg);
  width: 2.4rem;
  height: 2.4rem;
}
.swiperWrapper {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}
