.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.pattern1 {
    position: absolute;
    bottom: -200%;
    right: -200%;
    width: 400%;
    height: 400%;
}
.card {
    width: 90rem;
    gap: 3rem;
    height: 54rem;
    padding: 0 15.8rem;
    border-radius: 2rem;
    box-shadow: var(--shadow-card);
    background: var(--base);
    z-index: 111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.icon {
    color: var(--success_100);
    background: var(--success_10);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
