.button {
    border: 1px solid var(--gray_40);
    border-radius: 1rem;
    background: var(--base);
    height: 4rem;
    padding: 0 1.6rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    color: var(--gray_60);
    transition: all 0.2s;
    box-shadow: var(--shadow-profile);
}
.button:hover {
    background: var(--gray_10);
    border: 1px solid var(--gray_50);
}
