.initialsContainer {
  align-items: center;
  justify-content: center;
  background: var(--gray_20);
  display: flex;
}
.counterContainer {
  justify-content: center;
  align-items: center;
  background: var(--gray_20);
  border-radius: 50%;
  min-width: 2em;
  min-height: 2em;
  position: absolute;
  top: -0.8em;
  right: -0.8em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  gap: 1em;
}

.initialsContainer.disabled {
  background: var(--gray_10);
}

.avatar {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--base);
}
.avatar.bordered {
  border: 1px solid var(--gray_20);
}
.avatar.disabled {
  filter: grayscale(100%);
}

.upload {
  position: absolute;
  top: -1em;
  right: -1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2em;
  height: 2em;
  background: var(--gray_100);
  border-radius: 50%;
}
.plus {
  width: 2.4rem;
  height: 2.4rem;
  stroke: var(--base);
  cursor: pointer;
}
